body {
  font-family: "Times New Roman", Times, serif;
  margin: 10px;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  height: 100;
  width: 100;
}
.header-headings {
  text-align: center;
  font-size: 14px;
}
.header-right > p {
  margin: 0;
}
.heading {
  text-align: center;
  text-decoration: underline;
  font-size: 20px;
}
.circular-body {
  margin: 10px;
  font-size: 14px;
}
.circular-fotter {
  text-align: end;
  font-size: 14px;
}
.circular-end {
  text-align: start;
  font-size: 14px;
}
